@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #282828;
    transition: all ease;
}

.navbar{
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    width: 500px;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 500px;
    background-color: #F3F3F3;
    min-height: 100vh;
}

@media screen and (max-width: 500px) {
    body {
      background-color: blue;
    }

    .container{
        width: 100vw;
    }

    .navbar{
        width: 100vw;
    }
}
